# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/

# Environment variables
.env

# IDE / Editor settings
.vscode/
.idea/

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
